
@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Hair'),
		url('/fonts/FiraSans-Hair.woff2') format('woff2'),
         url('/fonts/FiraSans-Hair.woff') format('woff');
		 font-display: swap;
}
@font-face{
    font-family: 'SourceSansPro-Regular';
    src: local('SourceSansPro Regular'),
		url('/fonts/SourceSansPro-Regular.woff2') format('woff2'),
         url('/fonts/SourceSansPro-Regular.woff') format('woff');
		 font-display: swap;
}


// you can set these fonts 
$default-fonts: SourceSansPro-Regular,system-ui,
						-apple-system, 
						BlinkMacSystemFont,  
						"Segoe UI",  
						Roboto,  
						Oxygen,  
						Ubuntu, 
						Cantarell, 
						"Droid Sans", 
						"Helvetica Neue",
						"Fira Sans",
						"Noto Sans", 
						"Apple Color Emoji",
						"Segoe UI Emoji",
						"Segoe UI Symbol", 
						"Noto Color Emoji", 
						sans-serif;
$header-fonts: 'Fira Sans',system-ui,
						-apple-system, 
						BlinkMacSystemFont,  
						"Segoe UI",  
						Roboto,  
						Oxygen,  
						Ubuntu, 
						Cantarell, 
						"Droid Sans", 
						"Helvetica Neue",
						"Fira Sans",
						"Noto Sans", 
						"Apple Color Emoji",
						"Segoe UI Emoji",
						"Segoe UI Symbol", 
						"Noto Color Emoji", 
						sans-serif;
// $default-monospace-fonts: monospace;

