{% import "macro_picture.html" as picture %}{% import "macro_analytics.html" as analytics %}
{%- if pageorsection.extra.style -%}
	{%- set style = pageorsection.extra.style -%}
{%- elif config.extra.style -%}
	{%- set style = config.extra.style -%}
{%- else -%}
	{%- set style = "style" -%}
{%- endif -%}
{%- set styleconfig = config.extra.styleconfig | get(key=style) -%}
<!DOCTYPE html>
<html lang="{{ config.default_language }}">
	<head>
		<meta charset="UTF-8">
		<title>{{ config.extra.title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">	
		<link rel="stylesheet" href="/{{ style }}.css">		
		{% if config.extra.googleanaltyicsmeasurementid %}
		{{analytics::googleanalytics(measurementid=config.extra.googleanaltyicsmeasurementid)}}
		{% endif %}
	</head>
	<body>
		<main>
			{% include "_header.html" %}
			<section class="intro">
				{{config.extra.404content | markdown | safe}}
			</section>
		</main>
		{% include "_footer.html" %}
	</body>
</html>